<li><a class="py-3 text-base" id="home" href="/">Home</a></li>
<li><a class="py-3 text-base" id="projects" href="/projects">Projects</a></li>
<li><a class="py-3 text-base" id="software" href="/software">Software</a></li>
<li><a class="py-3 text-base" id="services" href="/services">Services</a></li>
<li><a class="py-3 text-base" id="cv" href="/cv">CV</a></li>
<li><a class="py-3 text-base" id="contact" href="mailto:athena.eco@gmail.com">Contact</a></li>
